@font-face {
    font-family: "Dana-Regular";
    src: url("./Dana-Regular.ttf");
}

html {
    font-family: "Dana-Regular" !important;;
}
hr{
    margin: 10px 0;
    border-color: #3c404024;
}
table{
    text-align: center ;
}
table th{
    text-align: center !important;
}
.Vue-Toastification__container{
    direction: ltr;
}
.Vue-Toastification__toast-body{
    font-family: "Dana-Regular" !important;;
}
.custom-select{
    width: 100%;
    border-bottom: 1px solid #808080a3;
    height: 50px;
    border-radius: 5px;
    background: #80808024;
}
